:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --bg-color: #2f303a;
  --e-address: rgba(255, 255, 255, 0.6);
  --address: #ffffff;
  --button-two: #f5f4fa;
  --decoration: #c4c4c4;
  --border: #eeeeee;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--address);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.hidden {
  font-size: 0px;
  visibility: hidden;
}
.flex {
  display: flex;
  align-items: center;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
/* INDEX.HTML */

.header {
  border-bottom: 1px solid #ececec;
}
/* logo */

.logo-style {
  color: var(--accent-color);
}
.secondary-logo {
  color: var(--address);
}
/* nav */
.nav {
  display: flex;
  align-items: center;
}
.nav-logo {
  margin-right: 93px;
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.nav-logo:focus,
.nav-logo:hover {
  color: var(--accent-color);
}
.site-nav-link,
.auth-nav-link {
  display: block;
  padding: 32px 0;
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  justify-content: space-between;
}
.auth-nav {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}
.site-nav-item:not(:last-child),
.auth-nav-item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}
/* main */
.hero {
  background-color: var(--bg-color);
  padding: 200px 0;
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  color: var(--address);
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
}

/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.no-padding {
  padding-top: 0;
}
.section.color {
  background-color: var(--button-two);
}
.section-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* features */
.features-list {
  display: flex;
  justify-content: space-between;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  color: var(--title-text-color);
  font-weight: 400;
  line-height: 1.7;
}

/* work */
.work-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
/* team */

.team-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
}

.team-item {
  background: var(--address);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  margin-bottom: 10px;
}
.team-text {
  color: var(--title-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
}

/* button  */

.button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button.primary {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--address);
  background-color: var(--accent-color);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--accent-color);
  background-color: var(--address);
}

.button.secondary {
  background-color: var(--button-two);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--address);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* footer */
.footer {
  background-color: var(--bg-color);
  padding: 60px 0;
}
.address-text,
.address-link {
  margin-bottom: 9px;
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.7;
}
.address {
  margin-top: 20px;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-text {
  color: var(--address);
}

.address-link {
  color: var(--e-address);
  font-style: normal;
}

/* PORTFOLIO.HTML */

/* main */
.filter-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.filter-nav-item:not(:first-child) {
  margin-left: 8px;
}
/* cardset */
.cardset-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.cardset-item {
  width: 370px;
  flex-basis: calc(100% -30px / 3);
  margin-top: 30px;
  margin-left: 30px;
}
.cardset-img {
  width: 370px;
}

.cardset-description {
  padding: 20px 24px;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}
.cardset-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cardset-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}
